@import './login.scss';
@import './otp.scss';
@import './menu.scss';
@import './home.css';
@import './friends.css';
@import './infosconv.css';
@import './chat.css';
@import './friendsList.css';
@import './chanList.css';
@import './searchGame.scss';
@import './stats.css';
@import './settings.css';
@import './pong.css';
@import './chanuser.css';
@import './friendrequests.css';
@import './privatechanjoined.css';

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.background-modal {
	background-color: #5b9279 !important;
}

/* .background-modal input {
    background-color: #8FCB9B !important;
} */

.pixel-font {
	font-family: 'VT323', monospace !important;
}

.buzz {
	color: #8fcb9b;
}

button {
	cursor: pointer;
}
