.ChanList-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.ChanList-wrapper div {
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.e-close:hover{
    cursor: pointer;
}