.ChanUser-wrapper {
	width: 100%;
	text-align: center;
}

.ChanUser-wrapper h3 {
	padding: 20px 0px;
}

.ChanUser-wrapper h3:hover {
	background-color: #209cee !important;
}

// .chan-user-modal {
//     max-height: 400px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 250px;
//     background-color: rgb(52, 63, 62);
//     border-radius: 20px;
//     box-Shadow: 24;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     padding: 20px;
//     border: none;
// }

// .chan-user-modal button {
// 	margin-bottom: 10px;
// 	background-color: #8fcb9b;
// 	border-radius: 20px;
// 	width: 50%;
// 	padding: 5px 0px;
// 	font-size: 17px;
// 	border: none;
// }

// .chan-user-modal button:hover {
// 	cursor: pointer;
// 	background-color: #65b876;
// }

.ban-time-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	border-radius: 20px;
	box-shadow: 24;
	padding: 10px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ban-time-form {
	width: 60%;
	display: flex;
	justify-content: center;
}

.ban-time-input {
	width: 100%;
	background-color: #36393e !important;
	font-size: 10px;
	color: white;
	border-radius: 15px;
	padding: 5px;
	border: none;
}

.ban-time-input::placeholder {
	color: white;
	padding-left: 5px;
}

.ban-time-input:focus {
	outline: none;
}

.mute-time-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	border-radius: 20px;
	box-shadow: 24;
	padding: 10px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mute-time-form {
	width: 60%;
	display: flex;
	justify-content: center;
}

.mute-time-input {
	width: 100%;
	background-color: #36393e !important;
	font-size: 10px;
	color: white;
	border-radius: 15px;
	padding: 5px;
	border: none;
}

.mute-time-input::placeholder {
	color: white;
	padding-left: 5px;
}

.mute-time-input:focus {
	outline: none;
}
