.ChanUser-wrapper {
    width: 100%;
    text-align: center;
}

.ChanUser-wrapper h3{
    padding: 5px 0px;
}

.chan-user-modal {
    max-height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    background-color: rgb(52, 63, 62);
    border-radius: 20px;
    box-Shadow: 24;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: none;
}



.chan-user-modal button{
    margin-bottom: 10px;
    background-color: #8FCB9B;
    border-radius: 20px;
    width: 50%;
    padding: 5px 0px;
    font-size: 17px;
    border: none;
}

.chan-user-modal button:hover {
    cursor: pointer;
    background-color: #65B876;
}