.chat-wrapper {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-nav{
    height: 10vh;
    max-height: 10vh;
    background-color: #7289da;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.public-private {
    display: flex;
}

.chat-nav-right{
    display: flex;
}

.chat-nav-right div {
    margin-right: 20px;
}

.wrapper-settings {
    background-color: #7289da;
    display: flex;
}

.change-password-input {
    background-color: white !important;
    color: black !important;
}

.change-password-input::placeholder {
    color: black !important;
    font-family: 'VT323', monospace;
}

.change-password-input:focus {
    outline: none;
    font-family: 'VT323', monospace;
}

.hidden {
    visibility: hidden;
}

/* .visible {
    visibility: visible;
} */

/* form */

#mdp {
    width: 100px;
    margin-right: 5px;
    border: none;
    background-color: rgb(114, 110, 110);
    border-radius: 15px;
}

#mdp-label {
    margin-right: 5px;
}

#mdp-submit-button {
    background-color: rgb(114, 110, 110);
    border-radius: 15px;
    border: none;
    padding: 5px;
}

#mdp-submit-button:hover {
    cursor: pointer;
    color: rgb(114, 110, 110);
    background-color: black;
    border-radius: 15px;
    border: none;
    padding: 5px;
}

.e-settings:hover {
    cursor: pointer;
}

/* chat messages */

.chat-messages-wrapper {
    height: 80%;
    max-height: 80%;
    width: 100%;
    overflow-y: scroll;
    background-color: #A0D2DB;
    display: flex;
    flex-direction: column-reverse;
}

.chat-messages-wrapper::-webkit-scrollbar {
    display: none;
}

.write-message {
    height: 10vh;
    max-height: 10vh;
    width: 100%;
    background-color: #4E6AD0;
    padding: 0;
    margin: 0;
    border: none;
}

.write-message input {
    height: 98%;
    width: 100%;
    border: none;
    font-family: 'VT323', monospace;
    font-size: 20px;
    background-color: #4E6AD0;
    color: white;
}

.write-message input::placeholder {
    padding-left: 5px;
    color: white;
}

.write-message input:focus {
    outline: none;
    color: white;
    font-family: 'VT323', monospace;
}

.display-message {
    padding-left: 20px;
    padding-bottom: 5px;
}

.message-name-date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
}

.message-name {
    font-size: 25px;
    margin-right: 10px;
}

.message {
    color: rgb(24, 23, 23);
}

.message-date {
    font-size: 15px;
    color: rgb(145, 142, 142);
}
