.friends-wrapper {
	height: 90vh;
	max-height: 90vh;
	display: flex;
	flex-direction: row;
	font-size: 20px;
}

.burger-menu {
	display: none;
}

/* .burger-menu-buttons {
    background-color: green;
    height: 200px;
    display: flex;
    flex-direction: column;
} */

.chan-list {
	width: 15%;
	height: 90vh;
	max-height: 90vh;
	background-color: var(--light-grey);
	border-right: 0.1px solid var(--border-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.priv-conv-list {
	z-index: 1;
	width: 15%;
	height: 90vh;
	max-height: 90vh;
	background-color: var(--light-grey) !important;
	border-right: 0.1px solid var(--border-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.chat {
	width: 55%;
	height: 90vh;
	max-height: 90vh;
}

.infos-conv {
	width: 15%;
	height: 90vh;
	max-height: 90vh;
	background-color: var(--light-grey);
	border-left: 0.1px solid var(--border-color);
}

.chan-list ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: flex-start;
}

.chan-list ul li {
	padding: 5px 0px 5px 15px;
	position: relative;
	left: -20px;
	margin-bottom: 15px;
	border-radius: 7px;
}

/* .chan-list ul li span{
    position: relative;
} */

#active-conv-bg {
	background: #424549 !important;
	opacity: 0.7;
}

.priv-conv-list ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: flex-start;
}

.priv-conv-list ul li {
	left: -10px;
	margin-bottom: 15px;
}

.priv-conv-list ul li span {
	position: relative;
	left: -25px;
}

.chan-list-buttons {
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
	gap: 5px;
	button {
		border-image-repeat: inherit;
		font-size: 8px;
	}
}

// .chan-list-buttons button {
// 	background-color: #7289DA;
// 	border: none;
// 	border-radius: 5px;
// 	font-family: 'VT323', monospace;
// 	margin-bottom: 10px;
// 	height: 40px;
// }

.chan-list-buttons button:hover {
	background-color: #4e6ad0;
	cursor: pointer;
	color: black;
}

/* .status {
    position: relative;
    background-color: #fff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    align-self: center;
    left: -10px;
} */

.connected {
	color: #539c55;
}

.ingame {
	color: #539c55;
}

.disconnected {
	color: #d32f2f;
}

/* create chan modal */

.create-chan-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400;
	background-color: rgb(52, 63, 62);
	border-radius: 20px;
	box-shadow: 24;
}

.create-channel-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

.create-channel-form > * {
	margin-bottom: 10px;
}
// .create-channel-form label input {
// 	background-color: #222222;
// 	border-radius: 15px;
// 	border: 0px solid black;
// 	padding: 5px;
// 	color: white;
// }

.create-channel-form label input::placeholder {
	outline: none;
	color: white;
}

.create-channel-form label input:focus {
	outline: none;
	background-color: #222222;
	color: white;
}

/* join chan modal */

.join-chan-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400;
	border-radius: 20px;
	box-shadow: 24;
}

.join-channel-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

.join-channel-form > * {
	margin-bottom: 10px;
}

.join-channel-form label input::placeholder {
	color: white;
}

.join-channel-form label input:focus {
	outline: none;
}

.e-menu:hover {
	cursor: pointer;
}

/* list-chan-modal */

.list-chan-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	background-color: rgb(52, 63, 62);
	border-radius: 20px;
	box-shadow: 24;
	padding: 10px 0px;
}

.AllChan-wrapper {
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	padding: 0px 20px;
}

.display-chan-title {
	width: 90%;
	border-radius: 20px;
	padding: 5px;
	text-align: center;
}

.ChansOther-wrapper {
	width: 90%;
	max-height: 200px;
	overflow-y: scroll;
	padding-top: 5px;
}

.ChansOther-wrapper::-webkit-scrollbar {
	display: none;
}

.ChansOther-item-wrapper {
	width: 100%;
}

.ChansBan-item-wrapper {
	width: 90%;
	height: auto;
	max-height: 100px;
	overflow-y: scroll;
}

.ChansBan-item-wrapper::-webkit-scrollbar {
	display: none;
}

.ChansInv-wrapper {
	width: 90%;
	height: auto;
	max-height: 100px;
	overflow-y: scroll;
}

.ChansInv-wrapper::-webkit-scrollbar {
	display: none;
}

.chan-list-item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	background: white !important;
	color: #131313;
	font-size: 10px;
	box-shadow: inset -6px -6px lightgray;
	padding: 10px 10px;
}

.chan-list-item:hover {
	box-shadow: inset -8px -8px lightgray;
}

.e-plus:hover {
	cursor: pointer;
}

.password-chan-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	background-color: #5b9279;
	border-radius: 20px;
	box-shadow: 24;
	padding: 10px;
}

.password-chan-modal form {
	display: flex;
	justify-content: center;
}

.chan-password-input {
	background-color: #5b9279;
	border-radius: 20px;
	padding: 5px;
	border: none;
	margin: 0 auto;
	color: black;
}

.chan-password-input::placeholder {
	color: black;
}

.chan-password-input:focus {
	outline: none;
}

@media only screen and (max-width: 1300px) {
	.chan-list {
		width: 20%;
		height: 90vh;
		max-height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.priv-conv-list {
		width: 15%;
		height: 90vh;
		max-height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.chat {
		width: 55%;
		height: 90vh;
		max-height: 90vh;
	}

	.infos-conv {
		width: 10%;
		height: 90vh;
		max-height: 90vh;
	}
}

@media only screen and (max-width: 1300px) {
	.chan-list {
		width: 20%;
		height: 90vh;
		max-height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.priv-conv-list {
		width: 15%;
		height: 90vh;
		max-height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.chat {
		width: 55%;
		height: 90vh;
		max-height: 90vh;
	}

	.infos-conv {
		width: 10%;
		height: 90vh;
		max-height: 90vh;
	}
}

@media only screen and (max-width: 1000px) {
	.searchGame-wrapper {
		.priv-conv-list {
			width: 200px;
		}
	}
}

@media only screen and (max-width: 1500px) {
	.burger-menu {
		position: fixed;
		width: 10%;
		height: 90vh;
		left: 90%;
		max-height: 90vh;
		border-left: 0.1px solid var(--border-color);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.burger-menu button {
		height: 200px;
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		transition: 0.5s ease;
	}

	.burger-menu button:hover {
		cursor: pointer;
	}

	.hidden-button {
		/* display: none !important; */
		/* visibility: hidden !important; */
		opacity: 0;
		visibility: hidden !important;
	}

	.chan-list {
		position: fixed;
		z-index: 1;
		top: 10vh;
		left: -300px;
		width: 300px;
		height: 90vh;
		max-height: 90vh;
		padding-top: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: left 0.5s ease;
	}

	.active-chan-list {
		left: 0;
	}

	.friends-wrapper {
		.priv-conv-list {
			position: fixed;
			z-index: 1;
			top: 10vh;
			left: -300px;
			width: 300px;
			height: 90vh;
			max-height: 90vh;
			padding-top: 20px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			transition: left 0.5s ease;
		}
		.active-friend-list {
			left: 0;
		}
	}

	.chat {
		position: fixed;
		width: 90%;
		height: 90vh;
		max-height: 90vh;
	}

	.infos-conv {
		position: fixed;
		z-index: 1;
		top: 10vh;
		left: -300px;
		width: 300px;
		height: 90vh;
		max-height: 90vh;
		padding-top: 30px;
		border-left: none;
		border-right: 0.1px solid var(--border-color);
		transition: left 0.5s ease;
	}

	.active-infos-conv {
		left: 0;
	}
}

/* .wrapper-active-conv-friend {
	display: flex;
	justify-content: space-around;
} */

.badge {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-right: 5px;
}

.avatar {
	/* height: 50px;
	width: 50px; */
	border-radius: 50%;
	margin-right: 5px;
}
