.FriendRequests-wrapper {
    background-color: #8FCB9B;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 3px;
}

.FriendRequests-wrapper span {
    font-size: 20px;
}

.accept-refuse-friend-request span {
    margin-right: 3px;
}