.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 30px;
    h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 45px;
        text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
        span {
            font-size: 60px;
        }
    }

}

.button-start-game {
    background-color: #64B5F6;
    padding: 15px;
    border-radius: 13px;
    border-style: none;
    font-size: 20px;
    align-self: center;
}

.button-start-game:hover {
    background-color: #1976D2;
    border-style: none;
    cursor: pointer;
}