.infos-conv {
	h3 {
		font-size: 12px;
		padding: 20px 0;
	}
}

.i-conv-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chan_user_wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.i-conv-wrapper-button {
	width: 100%;
	padding: 10px;
	background-color: rgb(143, 145, 162);
	border: none;
	border-bottom: 1px solid black;
	font-size: 20px;
}

.i-conv-wrapper-button:hover {
	cursor: pointer;
	background-color: rgb(122, 124, 141);
}

.i-conv-person-popup-button {
	flex-grow: 1;
}

.close-infos-conv {
    display: none;
}

.close-infos-conv:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1500px) {
    .close-infos-conv {
        display: inline;
        position: absolute;
        top: 1px;
        right: 4px;
    }
}
