.login-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	gap: 50px;
	.button-wrapper {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	.login-42 {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		height: 40px;
		font-size: 12px;
		img {
			height: 30px;
			// filter: invert(1);
		}
	}

	.login-button {
		background-color: #64b5f6;
		padding: 15px;
		border-radius: 13px;
		border-style: none;
		font-size: 20px;
	}

	.login-button:hover {
		background-color: #1976d2;
		border-style: none;
		cursor: pointer;
	}
}

.info-2fa {
	width: 295px !important;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	p {
		text-align: center;
	}
	.title {
		font-weight: bold;
	}
	span {
		font-weight: bold;
	}
	.code {
		font-size: 12px;
		font-weight: bold;
	}
}
