.menu {
	height: 10vh;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: black;
	padding-left: 20px;
	padding-right: 20px;
	// font-family: 'VT323', monospace;
	font-size: 20px;
	min-height: 70px;
	box-shadow: rgb(0 0 0 / 15%) 0px 3px 2.6px;
	.mobile-button-menu {
		height: 25px;
		filter: invert(1);
		display: none;
	}
	.e-icons {
		color: white;
	}
	.mobile-menu {
		display: none;
		box-shadow: (0, 0, 0, 0.15) 0px 3px 2.6px;
	}
	.menu-title {
		text-decoration: none;
		color: white;
		h1 {
			font-size: 16px;
			text-shadow: 0px 0px 6px rgb(255 255 255 / 70%);
			span {
				font-size: 20px;
			}
		}
	}
	li {
		img {
			height: 30px;
		}
	}
	.logout {
		img {
			filter: invert(1);
		}
	}
}

.menu ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 0;
	gap: 15px;
}

.menu ul li {
	align-self: center;
	background-color: none;
}

a {
	text-decoration: none;
	color: black;
}

// .activeLink {
// 	font-weight: bold;
// 	color: #c7cee6;
// }

.e-settings {
	background-color: none;
}

@media (max-width: 400px) {
	.menu {
		.menu-title {
			h1 {
				font-size: 12px;
				span {
					font-size: 16px;
				}
			}
		}
		ul {
			gap: 5px;
			img {
				height: 25px;
			}
		}
	}
}

.music-modal-hidden {
	z-index: -1000 !important;
	visibility: hidden !important;
}

.music-modal {
	display: flex;
	width: 350px;
	z-index: 10;
}

.music-player {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.music-player > * {
	margin-bottom: 8px;
}

.music-player h2 {
	margin-bottom: 12px;
}

.music-player button {
	height: 50px;
}

.music-player .sound {
	display: flex;
	justify-content: center;
	align-items: center;
}

.music-player-settings {
	display: flex;
	justify-content: center;
	align-items: center;
}

.playList {
	display: flex;
}

.playList-btn {
	width: 100px !important;
}

@media (max-width: 520px) {
	.menu {
		.menu-nav {
			display: none;
		}
		.mobile-button-menu {
			display: block;
		}
		.mobile-menu {
			background: black;
			display: flex;
			width: 100%;
			height: 60px;
			left: 0;
			top: 74px;
			z-index: 1;
			position: absolute;
			justify-content: center;
			ul {
				width: 100%;
				justify-content: space-evenly;
			}
		}
	}
}
