.game-wrapper {
	.pong-wrapper {
		flex-grow: 1;
		background-color: brown;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.game-score {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		padding: 15px;
		box-shadow: rgb(0 0 0 / 17%) 0px -23px 25px 0px inset,
			rgb(0 0 0 / 15%) 0px -36px 30px 0px inset,
			rgb(0 0 0 / 10%) 0px -79px 40px 0px inset,
			rgb(0 0 0 / 6%) 0px 2px 1px, rgb(0 0 0 / 9%) 0px 4px 2px,
			rgb(0 0 0 / 9%) 0px 8px 4px, rgb(0 0 0 / 9%) 0px 16px 8px,
			rgb(0 0 0 / 9%) 0px 32px 16px;
		.score {
			font-size: 30px;
			font-weight: bold;
		}
		.me,
		.opponent {
			display: flex;
			align-items: center;
			gap: 5px;
			font-size: 12px;
			width: 100px;
		}
		.opponent {
			.score {
				color: blue;
			}
		}
		.me {
			.score {
				color: red;
			}
		}
	}
}

.canvas-wrapper {
	margin: 0 auto;
	overflow: hidden;
}

.end-game-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400;
	background-color: #30343f;
	border-radius: 20px;
	box-shadow: 24;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.redirect-game-button {
	padding: 15px 25px;
	background-color: #1b2021;
	border: none;
	border-radius: 20px;
	font-size: 15px;
}

.redirect-game-button:hover {
	cursor: pointer;
	background-color: black;
	color: bisque;
}

.end-game-wrapper {
	button {
		font-family: 'Press Start 2P';
		font-size: 12px;
		height: inherit;
		margin-bottom: 0;
		border-radius: 0;
	}
	.end-game {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		font-family: 'Press Start 2P', cursive;
		padding: 0.5rem 1rem;
		.winner {
			font-size: 18px;
			span {
				font-size: 15px;
				font-weight: bold;
			}
		}
		.game-score {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			padding: 15px;

			.score {
				font-size: 30px;
				font-weight: bold;
			}
			.me,
			.opponent {
				display: flex;
				align-items: center;
				gap: 5px;
				font-size: 12px;
				width: 100px;
			}
			.opponent {
				.score {
					color: blue;
				}
			}
			.me {
				.score {
					color: red;
				}
			}
		}
	}
}
