.settings-wrapper {
	flex-grow: 1;
	background-color: #131b23;
	display: flex;
	justify-content: center;
	align-items: center;
	.confirm-button {
		margin-top: 10px;
	}
	.divider {
		width: 80%;
		margin: 15px 0;
		background-color: #595959;
		height: 1px;
	}
	.edit-icon {
		filter: invert(1);
		height: 20px;
	}
	.profile-picture {
		width: 100px;
		border-radius: 50%;
		border: 1px solid white;
		margin-bottom: 15px;
	}
	.user-name {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 12px;
		gap: 5px;
	}
	.form-change-name {
		width: 70%;
		input {
			font-size: 8px;
		}
	}
}

.modal-2fa-check {
	text-align: center;
	h3 {
		margin-bottom: 15px;
	}
	.button-wrapper {
		display: flex;
		justify-content: center;
		gap: 15px;
	}
}

.modal-picture {
	display: flex;
	align-items: center;
}

.settings {
	background-color: var(--light-grey);
	border-radius: 30px;
	width: 300px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0px;
}

.settings > * {
	margin-bottom: 5px;
}

.settings h3 {
	margin-bottom: 10px !important;
}

.profilPicture-button {
	width: 70%;
	background: white;
	padding: 10px 5px;
	font-size: 10px;
	box-shadow: inset -4px -4px lightgray;
}

.profilPicture-button:hover {
	box-shadow: inset -6px -6px lightgray;
}

.form-file-profil-picture {
	width: 70%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.form-file-profil-picture-submit-button {
	width: 100%;
	padding: 8px;
	box-shadow: inset -4px -4px lightgray;
	font-size: 10px;
}

.form-file-profil-picture-submit-button:hover {
	cursor: pointer;
	box-shadow: inset -6px -6px lightgray;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	font-size: 10px;
	color: black;
	background-color: white;
	padding: 10px 5px;
	border: 1px solid black;
	display: block;
	text-align: center;
	box-shadow: inset -4px -4px lightgray;
}

.inputfile:focus + label,
.inputfile + label:hover {
	cursor: pointer;
	box-shadow: inset -6px -6px lightgray;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}



.input-change-name {
	width: 100%;
	padding: 8px 5px;
	font-size: 10px;
}
