*{
    margin: 0;
    padding: 0;
}

.stats-wrapper {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: 60% 40%;
    grid-template-areas: 
    "rank profil hist"
    "stats stats hist";
    flex-grow: 1;
    background-image: url("../png/stat_background.png");
    background-size: 100% 100%;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    justify-items: center;
}

.rank img{
    grid-area: rank;
    height: 100%;
    width: 100%;
    /* background-image: url("../png/diamant.png");
    background-size: 100% 100% */
}

.profil {
    grid-area: profil;
    display: grid;
    grid-row: 90% 5% 5%;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
    font-family: 'VT323', monospace;
    font-size: 1rem;
}
.profil h2{
    display: block;
    height: 20px;
    width: 20px;
}

.avatar img{
    border-radius: 50%;
    border: 2px solid black;
    height: 90%;
    width: 90%;
    margin-left: 20px;
    /* padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%; */
}

.stats {
    grid-area: stats;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

/* .classement {
    height: 80%;
    width: 400px;
    background-color: #816C61;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    font-family: 'VT323', monospace;
    font-size: 20px;
} */
.historic {
    grid-area: hist;
    display: flex;
    height: 100%;
    width: 95%;
    border: 2px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'VT323', monospace;
    font-size: 0.8rem;
}

.historic-item {
    flex-grow: 1;
    border-bottom: 1px solid #E7DFC6;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-item {
    flex-grow: 1;
    border-bottom: 1px solid #E7DFC6;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 
.classement-item {
    flex-grow: 1;
    border-bottom: 1px solid #E7DFC6;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */